@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  background-color: #111827;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  /* translucent */
  backdrop-filter: blur(8px);
  /* frosted glass effect */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(210, 209, 209, 0.4); /* semi-transparent thumb */
  border-radius: 10px;
}
